:root {
	--primary-light: #fefefe;
	--secondary-light: #e5e7eb;
	/* --primary-dark: #1f2937; */
}
body {
	/* display: flex; */
	min-height: 100vh;
	min-width: 100vw;
	/* background-color: #81d8d0 !important; */
	background-color: lightskyblue !important;
	/* background-image: url("./img/weather_background.jpg"); */
	/* background-size: cover; */
}
.weather__row {
	/* background-color: #81d8d0 !important; */
}
.footerContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-top: 1rem;
	color: var(--primary-light);
	text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.footer__link {
	color: var(--primary-light);
}
